/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */
.container {
    margin: auto;
    width: 1280px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* DEBUG */
.debug header {
    background-color: #E579E6;
    min-height: 150px;
}

.debug .hero {
    background-color: #E1D67A;
    min-height: 500px;
}

.debug .leadership {
    background-color: #008BF3;
}

.debug .leadership-title {
    background-color: #ABCFE7;
    min-height: 100px;
}

.debug .col-left,.debug .col-middle, .debug .col-right {
    background-color: #ABCFE7;
    min-height: 300px;
}

.debug footer {
    background-color: #8801FE;
    min-height: 60px;
}

/* HEADER */
header {
    margin-bottom: 20px;
}

/* MAIN */
.hero {
    margin-bottom: 20px;
}

.columns {
    margin: 15px 0;
}

.col-left, .col-middle, .col-right {
    float: left;
}

.col-left, .col-right {
    width: 20%;
}

.col-middle {
    width: calc(60% - 40px);
    margin: auto 20px;
}